@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
}

.banner {
  background-image: url("https://source.unsplash.com/random");
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: white;
  text-align: center;
  height: 500px;
  position: relative;
  background-size: cover;
}

.banner h1 {
  font-size: 48px;
  padding-top: 200px;
}

.banner p {
  font-size: 24px;
}

.content {
  width: 700px;
  text-align: center;
  margin: 0px auto;
}

.content h2 {
  font-size: 32px;
  color: #99a8b2;
}

a {
  font-size: 48px;
  text-decoration: none;
  color: white;
  background-color: rgb(17, 92, 153);
  margin: 20px 20px;
  padding: 0px 20px;
  border-radius: 10px;
}

a:hover {
  background-color: #1c2b2d;
}
